*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #333;
}
.music player{
    background-color: pink;
    width: 400px;
    padding: 25px 35px;
    text-align: center;

}